/* nav */

.nav__item {
    position: relative;
}

.nav__link::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: 0.3s ease-in-out;
}

.nav__item:hover .nav__link::after {
    transform: scaleX(1);
}
