@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'futura_light';
    src:
        url('/fonts/futuralight-webfont.woff2') format('woff2'),
        url('/fonts/futuralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'coca_cola_ii';
    src:
        url('/fonts/coca_cola_ii-webfont.woff2') format('woff2'),
        url('/fonts/coca_cola_ii-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuramedium';
    src:
        url('/fonts/futura_medium_bt-webfont.woff2') format('woff2'),
        url('/fonts/futura_medium_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansserifflfmedium';
    src:
        url('/fonts/sansserifflf-webfont.woff2') format('woff2'),
        url('/fonts/sansserifflf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'sansserifflf';
}
